{% extends 'base.html' %}
{% load static %}

{% block title %}
    数据分析|登录
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block nav_login_active %}
    active
{% endblock %}

{% block content %}

    <body>
        <form class="form-login" action="{% url 'web_login' %}" method="POST">
            <h1 class="text-center h3 mb-3 font-weight-normal">用户登录</h1>
            {% csrf_token %}
            {% for field in login_form %}
                <label class="form-label f5">{{ field.label }}</label>
                {{ field }}
                <p class="text-danger">{{ field.errors.as_text }}</p>
            {% endfor %}
            <span class="pull-left text-danger">{{ login_form.non_field_errors }}</span>
            <button class="mt-3 btn btn-lg btn-primary btn-block" type="submit">登录</button>
            <p class="text-center mt-5">新来的？<a href={% url 'web_register' %}>点击注册</a></p>
            <p class="text-center mt-5 mb-3 text-muted">© 2018-2019</p>
        </form>
    </body>

{% endblock %}