{% extends 'base.html' %}
{% load static %}

{% block title %}
    数据分析|注册
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block nav_register_active %}
    active
{% endblock %}

{% block content %}

    <body class=>
        <form class="form-register" action="{% url 'web_register' %}" method="POST">
            <h1 class="text-center h3 mb-3 font-weight-normal">用户注册</h1>
            {% csrf_token %}
            {% for field in reg_form %}
                <label class="form-label f5">{{ field.label }}</label>
                {{ field }}
                <p class="text-danger">{{ field.errors.as_text }}</p>
            {% endfor %}
            <span class="pull-left text-danger">{{ reg_form.non_field_errors }}</span>
            <button class="mt-3 btn btn-lg btn-primary btn-block" type="submit">注册</button>
            <p class="text-center mt-5 mb-3 text-muted">© 2018-2019</p>
        </form>
    </body>
{% endblock %}